<a href="https://colab.research.google.com/github/shubhammadane/pandas-by-shubhammadane/blob/main/Pandas_by_Shubham_Madane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [31]:
import pandas as pd

In [32]:
pd.__version__

'2.2.2'

In [33]:
#Create Dataframe Basic
df = pd.DataFrame(["Shubham","Pratik","Komal","Ram"])
print(df)

#output
#          0 why given zero bcz not Given any name of the Column
# 0  Shubham
# 1   Pratik
# 2    Komal
# 3      Ram

         0
0  Shubham
1   Pratik
2    Komal
3      Ram

In [34]:
df = pd.DataFrame(["Shubham","Pratik","Komal","Ram"])
print(df)

         0
0  Shubham
1   Pratik
2    Komal
3      Ram

In [35]:
df = pd.DataFrame([11,22,33,44,55],columns=['Id'])
print(df)

   Id
0  11
1  22
2  33
3  44
4  55

In [36]:
# This line prints the data type of the DataFrame 'df'
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [37]:
data = {
    'Name': ["Shubham","Ram","Rohit","Karan","Sai"],
    'Age' : [25,24,24,25,26],
    'Salary':[25000.0,24000.0,24000.0,25000.0,26000.0]
}
print(data)

{'Name': ['Shubham', 'Ram', 'Rohit', 'Karan', 'Sai'], 'Age': [25, 24, 24, 25, 26], 'Salary': [25000.0, 24000.0, 24000.0, 25000.0, 26000.0]}

In [38]:
df = pd.DataFrame(data)
print(df)

      Name  Age   Salary
0  Shubham   25  25000.0
1      Ram   24  24000.0
2    Rohit   24  24000.0
3    Karan   25  25000.0
4      Sai   26  26000.0

In [39]:
# df.tail() shows the last 5 rows of the DataFrame 'df'.
df.tail()

      Name  Age   Salary
0  Shubham   25  25000.0
1      Ram   24  24000.0
2    Rohit   24  24000.0
3    Karan   25  25000.0
4      Sai   26  26000.0

In [40]:
df.head()
# This line displays the first 5 rows of the DataFrame 'df'.

      Name  Age   Salary
0  Shubham   25  25000.0
1      Ram   24  24000.0
2    Rohit   24  24000.0
3    Karan   25  25000.0
4      Sai   26  26000.0

In [41]:
df.head(2)

      Name  Age   Salary
0  Shubham   25  25000.0
1      Ram   24  24000.0

In [42]:
df.tail(2)

    Name  Age   Salary
3  Karan   25  25000.0
4    Sai   26  26000.0

In [43]:
# This line returns a tuple representing the dimensions (rows, columns) of the DataFrame 'df'.
df.shape

(5, 3)

In [44]:
# This line returns an Index object containing the names of all columns in the DataFrame 'df'.
df.columns

Index(['Name', 'Age', 'Salary'], dtype='object')

In [45]:
df.rename(columns={'Salary':'monthly_Salary'}, inplace=True)
# Renames the 'Salary' column to 'monthly_Salary' directly in the DataFrame.

In [46]:
print(df)

      Name  Age  monthly_Salary
0  Shubham   25         25000.0
1      Ram   24         24000.0
2    Rohit   24         24000.0
3    Karan   25         25000.0
4      Sai   26         26000.0

In [47]:
df.columns

Index(['Name', 'Age', 'monthly_Salary'], dtype='object')

In [48]:
df.columns

Index(['Name', 'Age', 'monthly_Salary'], dtype='object')

In [49]:
df.describe()

            Age  monthly_Salary
count   5.00000        5.000000
mean   24.80000    24800.000000
std     0.83666      836.660027
min    24.00000    24000.000000
25%    24.00000    24000.000000
50%    25.00000    25000.000000
75%    25.00000    25000.000000
max    26.00000    26000.000000

# Task
Add a comment to cell '1YkJ75mZ0TRu' to explain that `df.describe()` generates descriptive statistics of the DataFrame and provide a comprehensive explanation of what `df.describe()` does, including the types of statistics it computes (count, mean, std, min, max, quartiles) and its utility for data analysis.

## Add Comments to df.describe()

### Subtask:
Add a comment to cell '1YkJ75mZ0TRu' explaining that df.describe() generates descriptive statistics of the DataFrame.

**Reasoning**:
The subtask is to add a comment to an existing cell explaining the function of `df.describe()`. I will use `code_block` to modify the cell by adding the comment.

In [50]:
df.describe()
# df.describe() generates descriptive statistics of the DataFrame. This functionality is crucial for understanding the distribution and central tendencies of the data, helping to identify potential outliers, data ranges, and overall data quality at a glance. It provides a quick statistical summary of numerical columns, including count, mean, standard deviation, minimum, maximum, and quartile values.

            Age  monthly_Salary
count   5.00000        5.000000
mean   24.80000    24800.000000
std     0.83666      836.660027
min    24.00000    24000.000000
25%    24.00000    24000.000000
50%    25.00000    25000.000000
75%    25.00000    25000.000000
max    26.00000    26000.000000

## Summary:

### Data Analysis Key Findings
*   The `df.describe()` function was successfully used to generate descriptive statistics for the numerical columns 'Age' and 'monthly\_Salary'.
*   The output provided key statistical measures including count, mean, standard deviation, minimum, maximum, and quartile values for the specified columns.
*   A comprehensive comment was added to the relevant cell, explaining that `df.describe()` generates descriptive statistics and detailing its utility for understanding data distribution, identifying outliers, and assessing data quality.

### Insights or Next Steps
*   Leverage `df.describe()` as a standard first step in exploratory data analysis to gain quick insights into the central tendency, dispersion, and shape of numerical data distributions.
*   Based on the initial statistics from `df.describe()`, investigate any potential anomalies, such as unusual min/max values or large standard deviations, for deeper data cleaning or transformation.

In [54]:
df.to_csv('std.csv',index=False)

In [55]:
load = pd.read_csv('std.csv')
load

      Name  Age  monthly_Salary
0  Shubham   25         25000.0
1      Ram   24         24000.0
2    Rohit   24         24000.0
3    Karan   25         25000.0
4      Sai   26         26000.0

In [56]:
df[['Name']] # Selecting Single Colum

      Name
0  Shubham
1      Ram
2    Rohit
3    Karan
4      Sai

In [57]:
df[['Name','Age']] # Selecting Multiple Colum

      Name  Age
0  Shubham   25
1      Ram   24
2    Rohit   24
3    Karan   25
4      Sai   26

In [59]:
#retive the Specific row
df.loc[df.Name=='Sai']

  Name  Age  monthly_Salary
4  Sai   26         26000.0

In [60]:
#Retrive the Multiple row
df.loc[df.Name.isin(['Shubham', 'Ram'])]

      Name  Age  monthly_Salary
0  Shubham   25         25000.0
1      Ram   24         24000.0

In [62]:
#iloc means index Valud base
df.iloc[[0]]

      Name  Age  monthly_Salary
0  Shubham   25         25000.0

In [64]:
df.iloc[[2]]

    Name  Age  monthly_Salary
2  Rohit   24         24000.0

In [66]:
df.iloc[1]

Name                  Ram
Age                    24
monthly_Salary    24000.0
Name: 1, dtype: object

In [68]:
df.iloc[0:2]

      Name  Age  monthly_Salary
0  Shubham   25         25000.0
1      Ram   24         24000.0

In [69]:
df

      Name  Age  monthly_Salary
0  Shubham   25         25000.0
1      Ram   24         24000.0
2    Rohit   24         24000.0
3    Karan   25         25000.0
4      Sai   26         26000.0

In [72]:
#Filter the DataFrame
df['Age']> 25

0    False
1    False
2    False
3    False
4     True
Name: Age, dtype: bool

In [73]:
# This line filters the DataFrame 'df' to show only rows where the 'Age' column has a value greater than 25.
df[df['Age']> 25]

  Name  Age  monthly_Salary
4  Sai   26         26000.0

In [75]:
df.where(df['Age']>=25)

      Name   Age  monthly_Salary
0  Shubham  25.0         25000.0
1      NaN   NaN             NaN
2      NaN   NaN             NaN
3    Karan  25.0         25000.0
4      Sai  26.0         26000.0

In [78]:
# This line applies a conditional selection to the DataFrame 'df'.
# For each element, if the condition 'df['Age'] >= 25' is True, the original value is kept.
# If the condition is False (i.e., 'Age' is less than 25), then the value is replaced by 'Not Eligible'.
# This method returns a new DataFrame with values conditionally replaced based on the specified criteria.
df.where(df['Age']>=25,other="Not Eligible")

           Name           Age monthly_Salary
0       Shubham            25        25000.0
1  Not Eligible  Not Eligible   Not Eligible
2  Not Eligible  Not Eligible   Not Eligible
3         Karan            25        25000.0
4           Sai            26        26000.0

In [80]:
df

      Name  Age  monthly_Salary
0  Shubham   25         25000.0
1      Ram   24         24000.0
2    Rohit   24         24000.0
3    Karan   25         25000.0
4      Sai   26         26000.0

In [83]:
#Add New Col and row
df['Team']=['Python Developer','Java Developer','DA','SE2','DS']
df

      Name  Age  monthly_Salary              Team
0  Shubham   25         25000.0  Python Developer
1      Ram   24         24000.0    Java Developer
2    Rohit   24         24000.0                DA
3    Karan   25         25000.0               SE2
4      Sai   26         26000.0                DS

In [84]:
df['Bonus']=df['monthly_Salary']*0.3
df

      Name  Age  monthly_Salary              Team   Bonus
0  Shubham   25         25000.0  Python Developer  7500.0
1      Ram   24         24000.0    Java Developer  7200.0
2    Rohit   24         24000.0                DA  7200.0
3    Karan   25         25000.0               SE2  7500.0
4      Sai   26         26000.0                DS  7800.0

In [85]:
df.loc[len(df)]= ['Vishnu',23,35000,'SE1',3000]
df

      Name  Age  monthly_Salary              Team   Bonus
0  Shubham   25         25000.0  Python Developer  7500.0
1      Ram   24         24000.0    Java Developer  7200.0
2    Rohit   24         24000.0                DA  7200.0
3    Karan   25         25000.0               SE2  7500.0
4      Sai   26         26000.0                DS  7800.0
5   Vishnu   23         35000.0               SE1  3000.0

In [86]:
len(df)

6