<a href="https://colab.research.google.com/github/shubhammadane/pandas-by-shubhammadane/blob/main/Pandas_Revision_by_Shubham_Madane_30_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is Pandas?
==============
Pandas is a Python library used for data manipulation and analysis. It provides easy-to-use data structures and functions to work with structured data, like tables (similar to Excel spreadsheets or SQL tables).

Key features of Pandas:
=======================

Works with tabular data (rows and columns) using DataFrames.

Handles missing data gracefully.

Offers fast data filtering, grouping, merging, and aggregation.

Makes it easy to read/write data from CSV, Excel, SQL, JSON, etc.

Why use Pandas?
=================
Simplifies data cleaning and analysis.

Fast and efficient for large datasets.

Integrates well with NumPy, Matplotlib, and SciPy for scientific computing.

In [3]:
#How to Import
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:

# pd is an alias (shortcut) used to make coding easier.
# After this, you can use Pandas functions like:
import pandas as pd

What is a DataFrame?
=====================
A DataFrame is a 2-dimensional data structure in Pandas used to store data in rows and columns, just like:

Excel sheet

Database table

CSV file

Each column can have a different data type (int, float, string, etc.).

Why DataFrame is used?
========================
To store structured data

Easy data analysis & manipulation

Supports filtering, sorting, grouping, and aggregation

Handles missing values

In [9]:
students = {
    'Name':['Shubham','Suyash','Vaibhav','Prashant'],
    'Dept':['CSE','CSE','CSE','Str Civil'],
    'Year':[2024,2024,2024,2024],
    'Fees':[81000.00,81000.00,81000.00,81000.00]
}
print(students)
pd.DataFrame(students)

{'Name': ['Shubham', 'Suyash', 'Vaibhav', 'Prashant'], 'Dept': ['CSE', 'CSE', 'CSE', 'Str Civil'], 'Year': [2024, 2024, 2024, 2024], 'Fees': [81000.0, 81000.0, 81000.0, 81000.0]}

       Name       Dept  Year     Fees
0   Shubham        CSE  2024  81000.0
1    Suyash        CSE  2024  81000.0
2   Vaibhav        CSE  2024  81000.0
3  Prashant  Str Civil  2024  81000.0

In [11]:
import pandas as pd
data = pd.DataFrame([11,22,33,44,55,66,77])
print(data)
#Why Zero is Come bcz not give Name of the column

    0
0  11
1  22
2  33
3  44
4  55
5  66
6  77

In [12]:
import pandas as pd
data = pd.DataFrame([11,22,33,44,55,66,77],columns=['Std_Id'])
print(data)

   Std_Id
0      11
1      22
2      33
3      44
4      55
5      66
6      77

DataFrame Structure
======================
 Part          ======Meaning

Rows	    ->       Individual records

Columns	 ->        Attributes / features

Index	    ->       Row numbers (0,1,2â€¦)

Values	  ->       Actual data

Basic Dataframe:
================
df.head()--->Give the 5 rows by default

df.tail()--->Give the last 5 rows by default

df.shape()-->how many rows and Columns

df.columns-->Column names

df.rename[columns = {mark':'StdMarks'}-->Rename column

df.info()--->provide the Information about the Data Frame

df.describe()-->

In [26]:
#Real Time Example
import pandas as pd
data = {
    'StudentName': ['Shubham', 'Raj', 'Suyash', 'Vaibhav', 'Kiran', 'Neha'],
    'mark': [85, 90, 78, 88, 92, 80]
}
#Crate DataFrame
df = pd.DataFrame(data)
print(df)
#Read 5 rows
print("-------------------")
print(df.head(2))
#Read last 5 rows
print("-------------------")
print(df.tail(-2))
print("--------------------")
print(df.shape)
print("--------------------")
print(df.columns)
print('-------------------')
ren = df.rename(columns={'mark':'stdMark'},inplace=True)
print(ren)

  StudentName  mark
0     Shubham    85
1         Raj    90
2      Suyash    78
3     Vaibhav    88
4       Kiran    92
5        Neha    80
-------------------
  StudentName  mark
0     Shubham    85
1         Raj    90
-------------------
  StudentName  mark
2      Suyash    78
3     Vaibhav    88
4       Kiran    92
5        Neha    80
--------------------
(6, 2)
--------------------
Index(['StudentName', 'mark'], dtype='object')
-------------------
None

In [27]:
df.info()
# What it does
# Gives structure of the DataFrame
# Shows data types
# Shows non-null values
# Shows memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StudentName  6 non-null      object
 1   stdMark      6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [28]:
df.describe()

# What it does
# Gives statistical summary
# Works on numerical columns by default
# Statistics Included
# count
# mean
# std (standard deviation)
# min
# 25%, 50%, 75% (quartiles)
# max

         stdMark
count   6.000000
mean   85.500000
std     5.576737
min    78.000000
25%    81.250000
50%    86.500000
75%    89.500000
max    92.000000