<a href="https://colab.research.google.com/github/shubhammadane/pandas-by-shubhammadane/blob/main/Python_Logical_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Shubham and Pratik are Best br\r Sarthak")

 Sarthak

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for row in range(5):
  for col in range(5):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for _ in range(3):
  print("A B C D")

A B C D
A B C D
A B C D

In [ ]:
for row in range(5):
  for col in range(5):
    print(chr(65+col),end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [2]:
#Print even numbers from 1 to 20
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
#Print Odd numbers from 1 to 20
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [4]:
#Print multiplication table of a number
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
#Print elements of a list
fruits = ["apple", "banana", "mango"]
for fruit in fruits:
    print(fruit)#

apple
banana
mango

In [9]:
#Find sum of first 10 numbers
total = 0
for i in range(1, 11):
    total = total + i
print("Sum =", total)

Sum = 55

In [11]:
#Print characters of a string
name = "Shubham"
for ch in name:
    print(ch)

S
h
u
b
h
a
m

In [12]:
#Print square of numbers from 1 to 5
for i in range(1, 6):
    print(i * i)

1
4
9
16
25

In [13]:
#Count from 10 to 1 (reverse)
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
#Print star pattern
for i in range(5):
    print("*" * 5)

*****
*****
*****
*****
*****