<a href="https://colab.research.google.com/github/shubhammadane/pandas-by-shubhammadane/blob/main/Revision_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.2'

In [5]:
df = pd.DataFrame([11,22,33,44,55,66])
df

    0
0  11
1  22
2  33
3  44
4  55
5  66

In [6]:
#If You Give the Name of Column insted of zero that used
df = pd.DataFrame([11,22,33,44,45,65,67],columns=['ID'])

In [7]:
df

   ID
0  11
1  22
2  33
3  44
4  45
5  65
6  67

In [8]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
#Used Dictionary of List
data = {
    'Name':['Shubham','Ram','Suyash','Soham','Rohit','Raj'],
    'age' :[25,24,26,24,23,22],
    'Salary':[75000,65000,45000,63000,85000,64000]
}
data

{'Name': ['Shubham', 'Ram', 'Suyash', 'Soham', 'Rohit', 'Raj'],
 'age': [25, 24, 26, 24, 23, 22],
 'Salary': [75000, 65000, 45000, 63000, 85000, 64000]}

In [10]:
df = pd.DataFrame(data)
df

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [11]:
df.head()# By Default 5 rowGive

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000

In [12]:
df.head(2)

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000

In [13]:
df.head(-2)

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000

In [14]:
df.head(len(df))

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [15]:
len(df)

6

In [16]:
df.tail()

     Name  age  Salary
1     Ram   24   65000
2  Suyash   26   45000
3   Soham   24   63000
4   Rohit   23   85000
5     Raj   22   64000

In [17]:
df.tail(1)

  Name  age  Salary
5  Raj   22   64000

In [18]:
df.tail(-2)

     Name  age  Salary
2  Suyash   26   45000
3   Soham   24   63000
4   Rohit   23   85000
5     Raj   22   64000

In [19]:
df

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [20]:
df.shape # Returns a tuple representing the dimensions (rows, columns) of the DataFrame.

(6, 3)

In [21]:
df.columns

Index(['Name', 'age', 'Salary'], dtype='object')

In [22]:
# Get the total number of rows in the DataFrame
print(f"Total number of rows: {len(df)}")

Total number of rows: 6

In [23]:
# Select the first row (index 0) using .iloc[]
print("\nFirst row using df.iloc[0]:")
display(df.iloc[0])

First row using df.iloc[0]:

Name      Shubham
age            25
Salary      75000
Name: 0, dtype: object

In [24]:
# Select the last row using .iloc[-1]
print("\nLast row using df.iloc[-1]:")
display(df.iloc[-1])

Last row using df.iloc[-1]:

Name        Raj
age          22
Salary    64000
Name: 5, dtype: object

In [25]:
# Alternatively, you can use .head(1) for the first row
print("\nFirst row using df.head(1):")
display(df.head(1))

First row using df.head(1):

      Name  age  Salary
0  Shubham   25   75000

In [26]:
# And .tail(1) for the last row
print("\nLast row using df.tail(1):")
display(df.tail(1))

Last row using df.tail(1):

  Name  age  Salary
5  Raj   22   64000

In [27]:
df.shape

(6, 3)

In [28]:
df.rename(columns={'age':'Age'},inplace= True)
df

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [29]:
#A table with 6 rows, 3 columns, and no missing data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Salary  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

In [30]:
df.describe()

             Age        Salary
count   6.000000      6.000000
mean   24.000000  66166.666667
std     1.414214  13392.784127
min    22.000000  45000.000000
25%    23.250000  63250.000000
50%    24.000000  64500.000000
75%    24.750000  72500.000000
max    26.000000  85000.000000

**Save and Load Data From CSV**

In [31]:
df.to_csv('Shubham.csv',index = False)

In [32]:
load = pd.read_csv('Shubham.csv')
load

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [33]:
df[['Name']]

      Name
0  Shubham
1      Ram
2   Suyash
3    Soham
4    Rohit
5      Raj

In [34]:
df[['Name','Age']]

      Name  Age
0  Shubham   25
1      Ram   24
2   Suyash   26
3    Soham   24
4    Rohit   23
5      Raj   22

In [39]:
df[['Name','Age','Salary',Index=False]]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-1135514463.py, line 1)

The previous code `df[['Name','Age','Salary',Index=False]]` resulted in a `SyntaxError` because `Index=False` is not a valid argument within the column selection list. If you want to select specific columns, you simply provide a list of column names, like this:

In [40]:
df[['Name','Age','Salary']]

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

If you want to display a DataFrame without its index, for example, when printing, you can use the `to_string(index=False)` method after selecting your columns:

In [36]:
print(df[['Name','Age','Salary']].to_string(index=False))

   Name  Age  Salary
Shubham   25   75000
    Ram   24   65000
 Suyash   26   45000
  Soham   24   63000
  Rohit   23   85000
    Raj   22   64000

In [38]:
df.loc[df.Name=='Shubham']

      Name  Age  Salary
0  Shubham   25   75000

**Retrieving Multiple Rows**

**1. Using `iloc` for Positional Indexing:**

To retrieve rows by their integer position, you can use `iloc` with slicing. For example, to get the first three rows (rows with index 0, 1, and 2):

In [41]:
print("\nFirst three rows using df.iloc[0:3]:")
display(df.iloc[0:3])

First three rows using df.iloc[0:3]:

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000

You can also specify a list of integer positions to retrieve specific non-contiguous rows:

In [ ]:
print("\nRows at index 1 and 4 using df.iloc[[1, 4]]:")
display(df.iloc[[1, 4]])

**2. Using `loc` for Label-based or Boolean Indexing:**

To retrieve rows based on conditions on column values, you can use `loc` with boolean indexing. For example, to get all employees with an 'Age' greater than 24:

In [ ]:
print("\nEmployees with Age > 24 using df.loc[df['Age'] > 24]:")
display(df.loc[df['Age'] > 24])

You can also combine multiple conditions using logical operators (`&` for AND, `|` for OR):

In [44]:
print("\nEmployees named 'Shubham' or with Salary > 70000:")
display(df.loc[(df['Name'] == 'Shubham') | (df['Salary'] > 70000)])

Employees named 'Shubham' or with Salary > 70000:

      Name  Age  Salary
0  Shubham   25   75000
4    Rohit   23   85000

In [42]:
df.iloc[0:5]

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000

In [43]:
df.loc[df.Name=='Ram']

  Name  Age  Salary
1  Ram   24   65000

In [45]:
df

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [48]:
df.loc[(df.Name=='Shubham') | (df['Salary']>=65000)]

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
4    Rohit   23   85000

In [49]:
df.loc[(df.Name=='Shubham') & (df['Salary']>=65000)]

      Name  Age  Salary
0  Shubham   25   75000

In [52]:
df.loc[(df.Name=='Shubham') | (df['Salary']>=65000)]

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
4    Rohit   23   85000

 Filter DataFrame-Filtering by Column Values

In [55]:
df

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000