<a href="https://colab.research.google.com/github/shubhammadane/pandas-by-shubhammadane/blob/main/Revision_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [47]:
import pandas as pd

In [48]:
pd.__version__

'2.2.2'

In [49]:
df = pd.DataFrame([11,22,33,44,55,66])
df

    0
0  11
1  22
2  33
3  44
4  55
5  66

In [50]:
#If You Give the Name of Column insted of zero that used
df = pd.DataFrame([11,22,33,44,45,65,67],columns=['ID'])

In [51]:
df

   ID
0  11
1  22
2  33
3  44
4  45
5  65
6  67

In [52]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [53]:
#Used Dictionary of List
data = {
    'Name':['Shubham','Ram','Suyash','Soham','Rohit','Raj'],
    'age' :[25,24,26,24,23,22],
    'Salary':[75000,65000,45000,63000,85000,64000]
}
data

{'Name': ['Shubham', 'Ram', 'Suyash', 'Soham', 'Rohit', 'Raj'],
 'age': [25, 24, 26, 24, 23, 22],
 'Salary': [75000, 65000, 45000, 63000, 85000, 64000]}

In [54]:
df = pd.DataFrame(data)
df

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [55]:
df.head()# By Default 5 rowGive

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000

In [56]:
df.head(2)

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000

In [57]:
df.head(-2)

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000

In [58]:
df.head(len(df))

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [59]:
len(df)

6

In [60]:
df.tail()

     Name  age  Salary
1     Ram   24   65000
2  Suyash   26   45000
3   Soham   24   63000
4   Rohit   23   85000
5     Raj   22   64000

In [61]:
df.tail(1)

  Name  age  Salary
5  Raj   22   64000

In [62]:
df.tail(-2)

     Name  age  Salary
2  Suyash   26   45000
3   Soham   24   63000
4   Rohit   23   85000
5     Raj   22   64000

In [63]:
df

      Name  age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [64]:
df.shape # Returns a tuple representing the dimensions (rows, columns) of the DataFrame.

(6, 3)

In [65]:
df.columns

Index(['Name', 'age', 'Salary'], dtype='object')

In [66]:
# Get the total number of rows in the DataFrame
print(f"Total number of rows: {len(df)}")

Total number of rows: 6

In [67]:
# Select the first row (index 0) using .iloc[]
print("\nFirst row using df.iloc[0]:")
display(df.iloc[0])

First row using df.iloc[0]:

Name      Shubham
age            25
Salary      75000
Name: 0, dtype: object

In [68]:
# Select the last row using .iloc[-1]
print("\nLast row using df.iloc[-1]:")
display(df.iloc[-1])

Last row using df.iloc[-1]:

Name        Raj
age          22
Salary    64000
Name: 5, dtype: object

In [69]:
# Alternatively, you can use .head(1) for the first row
print("\nFirst row using df.head(1):")
display(df.head(1))

First row using df.head(1):

      Name  age  Salary
0  Shubham   25   75000

In [70]:
# And .tail(1) for the last row
print("\nLast row using df.tail(1):")
display(df.tail(1))

Last row using df.tail(1):

  Name  age  Salary
5  Raj   22   64000

In [71]:
df.shape

(6, 3)

In [72]:
df.rename(columns={'age':'Age'},inplace= True)
df

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000

In [73]:
#A table with 6 rows, 3 columns, and no missing data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Salary  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

In [74]:
df.describe()

             Age        Salary
count   6.000000      6.000000
mean   24.000000  66166.666667
std     1.414214  13392.784127
min    22.000000  45000.000000
25%    23.250000  63250.000000
50%    24.000000  64500.000000
75%    24.750000  72500.000000
max    26.000000  85000.000000

**Save and Load Data From CSV**

In [75]:
df.to_csv('Shubham.csv',index = False)

In [77]:
load = pd.read_csv('Shubham.csv')
load

      Name  Age  Salary
0  Shubham   25   75000
1      Ram   24   65000
2   Suyash   26   45000
3    Soham   24   63000
4    Rohit   23   85000
5      Raj   22   64000